<template>
    <v-container fill-height fluid>
        <v-row lign="center" justify="center">
            <v-col md="6">
                <v-card elevation="20" class="pa-2">
                    <v-card-title>LEVIATÁN</v-card-title>
                    <v-img height="350" src="@/assets/leviatan.jpg"></v-img>
                    <v-card-text>
                        <v-form ref="form" v-model="valido" lazy-validation>
                            <v-text-field v-model="usuario" :rules="rUsuario" label="Nombre de usuario" required :append-icon="'mdi-human-handsup'"></v-text-field>
                            <v-text-field v-model="password" :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'" :rules="rPassword" :type="show ? 'text' : 'password'" @click:append="show = !show" label="Contraseña" required></v-text-field>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="success" block :disabled="!valido" @click="validar">Iniciar Sesión</v-btn>
                    </v-card-actions>
                </v-card>
                
            </v-col>
        </v-row>
    </v-container>
    
</template>

<script>
export default {
    name: 'Login',
    data(){
        return{
            valido: true,
            usuario: '',
            password: '',
            show: false,
            rUsuario:[
                value => !!value || 'Requerido',
                value => (value && value.length >= 8) || 'Min 8 caracteres'
            ],
            rPassword:[
                value => !!value || 'Requerido',
                value => (value && value.length >= 8) || 'Min 8 caracteres'
            ]
        }
    },
    methods: {
        validar(){
            if(this.$refs.form.validate()){
                this.$router.push('/Dashboard')
            }
        }
    },
}
</script>